<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="a()">
    <!-- <h1 onclick="this.innerHTML='hello'" >click</h1> -->
    <!-- <h1 onclick="abc(this)" >click</h1>
    <script>

       let count=1
        function abc(p){
            if(count%2==0){
                p.innerHTML="hello"
                p.style.color="green"

            }else{
                p.innerHTML="click"
                p.style.color="red"
            }
            count++
        } -->



    
    <!-- </script> -->
<h1 id="h1"></h1>
    <script>

        function a(){
            setTimeout(()=>{

                document.getElementById("h1").innerHTML="welcome";
            },2000)
        }
    </script>
    
</body>
</html>