{% extends 'base.html' %} {% block content %}
<title>Pinterest</title>

<style>
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 40px;
  }

  .pins {
    grid-row-end: span 2;
  }

  .pinn{
    width: 100%;
    border-radius: 20px;
  }

  .searchinpbox{
      margin:auto;
  }

  @media screen and (max-width:320px) {

    .grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: 20px;

  }
}


@media screen and (min-width:321px) and (max-width:376px) {
.grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: 20px;

  }
}

</style>

<div class="container">

     <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
          <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="searchinp" placeholder="Type to search... " class="form-control w-75 searchinpbox
            " >
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-outline-success btn-sm" >Search</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4"></div>
      </div>

    <div class="grid mt-4">
        {% for i in data %}
        <div class="item photo">
    <div class="content">
      <a href="{% url 'readMore' i.id %}">
      <img src="{{i.Pin.url}}" class="pinn col-sm-6 col-lg-12 col-md-4 " alt="" srcset="" />
      </a>
    </div>
  </div>
  {% endfor %}
  </div>

</div>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script>
    function resizeGridItem(item){
   grid = document.getElementsByClassName("grid")[0];
   rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
   rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
   rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
   item.style.gridRowEnd = "span "+rowSpan;
}

function resizeAllGridItems(){
   allItems = document.getElementsByClassName("item");
   for(x=0;x<allItems.length;x++){
      resizeGridItem(allItems[x]);
   }
}

window.onload = resizeAllGridItems();
window.addEventListener("resize", resizeAllGridItems);
allItems = document.getElementsByClassName("item");
for(x=0;x<allItems.length;x++){
   imagesLoaded( allItems[x], resizeInstance);
}
function resizeInstance(instance){
   item = instance.elements[0];
   resizeGridItem(item);
}
  </script>
  {% endblock %}
</div>
