{% extends 'base.html' %} {% block content %}

<title>{{user}}'s Profile</title>
<style>
  img.pin {
    width: 200px;
    height: 328px;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
  }
  /* .pin:hover{
    object-fit:scale-down;
    background-color: black;
  } */

  .container1 {
    padding: 15px;
  }
  p.title {
    font-size: 18px;
  }
  b.byusername {
    font-size: 15px;
  }
  @media (min-device-width: 320px) and (max-device-width: 480px) {
    img.pin {
      width: 170px;
      height: 320px;
      object-fit: cover;
    }
    .row_parts {
      width: 50%;
    }
    p.title {
      font-size: 25px;
    }
    .container1 {
      padding: 0px;
    }
  }
  .profile_photo{
    width: 100%;
  }
  .round {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    margin: auto;
  }
  </style>
  
<div class="container justify-content-center cover mt-3">
  <div class="round">
    <a href="">
    {% if Profile_photo.profile_photo %}
      <img
        src="{{Profile_photo.profile_photo.url}}"
        class="profile_photo"
        alt=""
      />
    </a>
    {% else %}
    <img
        src="https://i.pinimg.com/236x/64/18/ae/6418aedd8af9947a524fd8eb44979562.jpg" 
        class="profile_photo" 
        alt=""/>
      {% endif %}
</div>
<div class="text-center mt-3">
    {% if Profile_photo.profile_photo %}
    <a href="{% url 'update_profile' Profile_photo.id %}" class="btn btn-outline-success rounded-circle"><i class="fa-regular fa-pen-to-square"></i></a>
    {% else %}
    <a href="/addprofile" class="btn btn-outline-danger rounded-circle"><i class="fa-solid fa-circle-plus"></i></a>
    {% endif %}
    <p class="mt-2"><b>{{user.email}}</b></p>
</div>
</div>
  <hr />
  <div class="container1">
    <div class="row">
      {% for i in data %}
      <div class="col-lg-2 row_parts text-center">
        <a href="{% url 'readMore' i.id %}">
          <img src="{{i.Pin.url}}" class="pin" alt="" />
        </a>
          <p class="title">
            {{i.Title}} <br />
            <b class="byusername">By-@{{i.created_by}}</b> <br />
            <div class="btns">
              <button
              class="btn btn-danger rounded-circle"
              onclick='copyText1("{{i.Pin.url}}","{{i.Title}}")'
            >
              <i class="fa-solid fa-file-arrow-down"></i>
            </button>
            <button
              id="copy"
              onclick='copyText("{{i.Pin.url}}")'
              class="btn btn-success rounded-circle"
            >
              <i class="fa-solid fa-copy"></i>
            </button>
            <button
              id="copy"
              class="btn btn-danger rounded-circle"
            >
            <i class="fa-solid fa-trash"></i></i>
            </button>
          </div>
          </p>           
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    function copyText(a) {
      console.log(a);
      let abc = navigator.clipboard.writeText(a);
      if (abc) {
        alert("Link Copied");
      }
    }
  </script>
  <script>
    function copyText1(url, title) {
      let imgpath = url;
      let filename = title;
  
      if (saveAs(imgpath, filename)) {
        alert("Pin Downloaded");
      }
    }
    function getFileName(str) {
      return str.substring(str.lastIndexOf("/") + 1);
    }
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
    integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</div>
  {% endblock %}
